//colors
$color-primary: rgb(255, 156, 27);
$color-secondary: rgb(180, 124, 40);
$color-white: #fff;
$color-button-shadow-red: rgba(255, 0, 0, 0.363);
$color-text-shadow-black: rgb(0, 0, 0);
$color-gray: #777;
$color-darkgray: #070707;

$color-green: #0e991a;

$color-orange: rgb(255, 88, 37);
$color-red: rgb(235, 20, 20);
$color-yellow: rgb(253, 250, 41);
$color-cream-white: rgb(252, 243, 168);

//grid

$grid-width: 114rem;
$grid-width-wider: 154rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;

//font

$default-font-size: 1.8rem;
